* {
  margin: 0;
  padding: 0;
}
.header {
  position: fixed;
  top: 0;
  width: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

.header__logo {
  height: 1vw;
  margin: 5px;
}

ul {
  list-style-type: none;
  font-size: 1.5vw;
}

li {
  float: left;
  margin: 5px;
  font-size: 1.2vw;
  cursor: pointer;
}

.header__menuImg {
  height: 1.2vw;
  margin: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .header__logo {
    height: 3vw;
    margin: 4vw;
  }
  .header__products {
    display: none;
  }
  .header__options__account {
    display: none;
  }
  .header__menuImg {
    height: 6vw;
  }
}
