* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.productItem {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.productItem__title {
  position: relative;
  top: 5vh;
}

h2 {
  color: #323439;
  font-weight: 200;
  font-size: clamp(20px, 35px, 45px);
}

h4 {
  color: #636770;
  font-weight: 200;
  font-size: clamp(10px, 15px, 25px);
  margin: 0.5vw;
}

.productItem__buttons {
  position: relative;
  top: 80vh;
}

button {
  margin: 1vw;
  width: 300px;
  opacity: 0.6;
  padding: 15px 60px;
  border-style: none;
  border-radius: 20px;
  cursor: pointer;
}

.productItem__buttons_primary {
  background-color: #000;
  color: #fff;
}

.productItem__buttons_secondary {
  background-color: #fff;
}

@media only screen and (max-width: 700px) {
  .productItem__title {
    top: -13vh;
  }

  h2 {
    /* font-size: 8vw; */
    margin: 0 10vw 0;
  }

  h4 {
    /* font-size: 4vw; */
    margin: 0.5vw;
  }
}

@media only screen and (max-width: 600px) {
  .productItem__buttons {
    top: 70vh;
    margin-bottom: 10vh;
  }

  button {
    margin: 2vw;
    width: 90vw;
  }
}
